body {
    background:  hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 50px 70px 0px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1440px;  
}

.main {
    margin-top: 70px;
    display: flex;
    gap: 55px;
}

.main .sobre {
    margin-top: 50px;
    max-width: 510px;
}

.main .sobre h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.main .sobre p {
    margin-top: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    color: white;
    font-weight: 400;
}

.main .sobre .btn-register {
    margin-top: 25px;
    font-size: 20px;
    padding: 15px 65px;
    border-radius: 50px;
    border: none;
    color: hsl(257, 40%, 49%);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.4);
}

.main .sobre .btn-register:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.footer .lista-redes {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 20px;
}

.footer .lista-redes li a i {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.footer .lista-redes li a i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}