@media (max-width: 1024px) {
    .footer .lista-redes {
        margin-right: 65px;
    }
}

@media (max-width: 920px) {
    body {
        background:  hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat center center;
        background-size: cover;
        flex-direction: column;
        align-items: center;
        
    }

    .container {
        padding: 40px 20px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        gap: 0;
    }

    .main .sobre {
        margin-top: 0;
    }

    .footer .lista-redes {
        justify-content: center;
        margin-right: 0;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0px 20px;
    }

    .logo {
        max-width: 150px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .main .sobre {
        margin-top: 0;
    }

    .main .sobre h1 {
        font-size: 20px;
    }

    .main .sobre p {
        margin-top: 10px;
    }

    .main .sobre .btn-register {
        margin-top: 10px;
    }

    .ilustracao img {
        max-width: 300px;
    }

    .footer .lista-redes {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 10px 20px;
    }

    .logo {
        max-width: 150px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    .main .sobre {
        margin-top: 0;
    }

    .main .sobre h1 {
        font-size: 20px;
    }

    .ilustracao img {
        max-width: 300px;
    }

    .footer .lista-redes {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
    }
}